<a href="https://colab.research.google.com/github/SaumyaG2311/Minor-Project/blob/main/Supervised_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import re
import string
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [3]:
from google.colab import files
data = files.upload()

Saving deceptive-opinion.csv to deceptive-opinion.csv

In [4]:
import io

In [5]:
df = pd.read_csv(io.BytesIO(data['deceptive-opinion.csv']))

In [6]:
df

      deceptive  ...                                               text
0      truthful  ...  We stayed for a one night getaway with family ...
1      truthful  ...  Triple A rate with upgrade to view room was le...
2      truthful  ...  This comes a little late as I'm finally catchi...
3      truthful  ...  The Omni Chicago really delivers on all fronts...
4      truthful  ...  I asked for a high floor away from the elevato...
...         ...  ...                                                ...
1595  deceptive  ...  Problems started when I booked the InterContin...
1596  deceptive  ...  The Amalfi Hotel has a beautiful website and i...
1597  deceptive  ...  The Intercontinental Chicago Magnificent Mile ...
1598  deceptive  ...  The Palmer House Hilton, while it looks good i...
1599  deceptive  ...  As a former Chicagoan, I'm appalled at the Ama...

[1600 rows x 5 columns]

In [7]:
df.head()

  deceptive  ...                                               text
0  truthful  ...  We stayed for a one night getaway with family ...
1  truthful  ...  Triple A rate with upgrade to view room was le...
2  truthful  ...  This comes a little late as I'm finally catchi...
3  truthful  ...  The Omni Chicago really delivers on all fronts...
4  truthful  ...  I asked for a high floor away from the elevato...

[5 rows x 5 columns]

In [8]:
df = df.drop(["hotel", "polarity","source"], axis=1)

In [9]:
#to shuffle the order of the DataFrame's rows, so that all Type's are mixed
df = df.sample(frac=1)

In [10]:
df.head()

      deceptive                                               text
687   deceptive  My husband and I stayed at the James Chicago H...
184    truthful  Got a great deal through Hotwire for $70 a nig...
1229  deceptive  I have no idea why this is considered a four s...
279    truthful  I want to recognize so many people who were ex...
79     truthful  I travelled to Chicago last week with my daugh...

In [11]:
#Label Encoding refers to converting the labels into numeric form so as to convert it into the machine-readable form. It is an important pre-processing step.
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df['deceptive'] = label_encoder.fit_transform(df['deceptive']) 

df['deceptive'].unique()

array([0, 1])

In [12]:
df.head()

      deceptive                                               text
687           0  My husband and I stayed at the James Chicago H...
184           1  Got a great deal through Hotwire for $70 a nig...
1229          0  I have no idea why this is considered a four s...
279           1  I want to recognize so many people who were ex...
79            1  I travelled to Chicago last week with my daugh...

In [13]:
#dataset description #truthful=1 deceptive=0
df.groupby('deceptive').describe()

           text
          count unique                                                top freq
deceptive
0           800    800  Not one of my better experiences, When I first...    1
1           800    796  The Omni was chosen for it's location whichwor...    2

In [14]:
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [15]:
# Some preprocesssing that will be common to all the text classification methods

puncts = [',', '.', '"', ':', ')', '(', '-', '!', '?', '|', ';', "'", '$', '&', '/', '[', ']', '>', '%', '=', '#', '*', '+', '\\', '•',  '~', '@', '£', 
 '·', '_', '{', '}', '©', '^', '®', '`',  '<', '→', '°', '€', '™', '›',  '♥', '←', '×', '§', '″', '′', 'Â', '█', '½', 'à', '…', 
 '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', 
 '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', 
 '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√', ]

def clean_char(x):
    x = str(x)
    for punct in puncts:
        if punct in x:
            x = x.replace(punct, f' {punct} ')
    return x

In [16]:
def clean_numbers(x):
    if bool(re.search(r'\d', x)):
        x = re.sub('[0-9]{5,}', '#####', x)
        x = re.sub('[0-9]{4}', '####', x)
        x = re.sub('[0-9]{3}', '###', x)
        x = re.sub('[0-9]{2}', '##', x)
    return x

In [17]:
#A lambda function lets you quickly define an anonymous function to perform some task.
#The map() function executes a specified function for each item in an iterable. 
df['text'] = df['text'].map(lambda a: clean_numbers(a))

In [18]:
df['text'] = df['text'].map(lambda a: clean_char(a))

In [21]:
df['text'] = df['text'].map(lambda a: clean_text(a))

In [20]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [22]:
df['text']

687     husband stay jame chicago hotel anniversari pl...
184     got great deal hotwir night ever return chicag...
1229    idea consid four star hotel omni chicago age s...
279     want recogn mani peopl exemplari servic sylvia...
79      travel chicago last week daughter christma sho...
                              ...
1272    disappoint hotel first checkin desk understaf ...
1158    stay hotel day novemb togeth colleagu internet...
1325    millennium hotel knickerbock sound fine websit...
404     girlfriend stay hyatt chicago shop trip citi j...
203     book room onlin got great rate cheap summer ho...
Name: text, Length: 1600, dtype: object

In [23]:
df.describe()

         deceptive
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [24]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 687 to 203
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   deceptive  1600 non-null   int64
 1   text       1600 non-null   object
dtypes: int64(1), object(1)
memory usage: 37.5+ KB

In [25]:
x = df['text']
y = df['deceptive']

In [26]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [27]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['deceptive'], random_state=5)
print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 1600
Number of rows in the training set: 1200
Number of rows in the test set: 400

In [28]:
X_train, X_test, y_train, y_test

(613     stay hotel one best ever locat servic accommod...
 1298    swissotel chicago mediocr hotel servic alway p...
 1089    jame consid eleg chic establish lost luster sm...
 465     never thought abl stay hotel feel complet home...
 1000    initi excit stay ambassador east hotel photo o...
                               ...
 1489    stay schicago hilton day night confer say norm...
 1365    hotel tout luxuri locat chicago talbot poor th...
 1236    stay hyatt regenc experi never ever forget goo...
 1243    recent stay fairmont chicago millennium park h...
 650     would like add comment mayb help other choos w...
 Name: text, Length: 1200, dtype: object,
 957     say avoid place cost reserv assist took minut ...
 598     although much overpr opinion hotel spotless st...
 506     hotel wonder room clean staff courteous food p...
 1492    busi need get rest next day wall thin could ca...
 936     one worst travel experi quit time arriv constr...
                               ...
 341     hotel cannot beat locat price atmospher locat ...
 452     new fianc told busi trip chicago quit annoy mo...
 580     upon arriv ambassador east hotel chicago immed...
 107     realli enjoy brief stay millennium knickerbock...
 1039    wife spent long weekend hardrock chicago hotel...
 Name: text, Length: 400, dtype: object,
 613     0
 1298    0
 1089    1
 465     0
 1000    1
        ..
 1489    0
 1365    0
 1236    0
 1243    0
 650     0
 Name: deceptive, Length: 1200, dtype: int64,
 957     1
 598     0
 506     0
 1492    0
 936     1
        ..
 341     1
 452     0
 580     0
 107     1
 1039    1
 Name: deceptive, Length: 400, dtype: int64)

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [30]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [31]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [32]:
predictions = naive_bayes.predict(testing_data)

In [33]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
mnbaccuracy = accuracy_score(y_test, predictions)
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.8875
Precision score:  0.8978494623655914
Recall score:  0.8652849740932642
F1 score:  0.8812664907651714

In [34]:
from sklearn.svm import SVC 
svc = SVC()
svc.fit(training_data, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [35]:
svc_predictions = svc.predict(testing_data)

In [36]:
from sklearn.metrics import accuracy_score
svcaccuracy = accuracy_score(y_test,svc_predictions)
print('Accuracy score: ', format(accuracy_score(y_test,svc_predictions)))
print('Precision score: ', format(precision_score(y_test,svc_predictions)))
print('Recall score: ', format(recall_score(y_test, svc_predictions)))
print('F1 score: ', format(f1_score(y_test, svc_predictions)))

Accuracy score:  0.875
Precision score:  0.8592964824120602
Recall score:  0.8860103626943006
F1 score:  0.8724489795918368

In [37]:
#Import svm model
from sklearn import svm

#Create a svm Classifier
clf = svm.SVC(kernel='linear') # Linear Kernel

#Train the model using the training sets
clf.fit(training_data, y_train)

#Predict the response for test dataset
y_pred = clf.predict(testing_data)

In [39]:
#Import scikit-learn metrics module for accuracy calculation
from sklearn import metrics
svmaccuracy = accuracy_score(y_test,y_pred)
# Model Accuracy: how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))
print('Precision score: ', format(precision_score(y_test,y_pred)))
print('Recall score: ', format(recall_score(y_test, y_pred)))
print('F1 score: ', format(f1_score(y_test, y_pred)))

Accuracy: 0.8525
Precision score:  0.8418367346938775
Recall score:  0.8549222797927462
F1 score:  0.8483290488431877

In [40]:
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(training_data, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [41]:
knn_predictions = knn.predict(testing_data)

In [42]:
from sklearn.metrics import accuracy_score
knnaccuracy = accuracy_score(knn_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(knn_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,knn_predictions)))
print('Recall score: ', format(recall_score(y_test, knn_predictions)))
print('F1 score: ', format(f1_score(y_test, knn_predictions)))

Accuracy score:  0.6025
Precision score:  0.8269230769230769
Recall score:  0.22279792746113988
F1 score:  0.3510204081632653

In [43]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB()
training_data1 = training_data.toarray()
gnb.fit(training_data1, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [44]:
testing_data1= testing_data.toarray()
gnb_predictions = gnb.predict(testing_data1)

In [45]:
from sklearn.metrics import accuracy_score
gnb_accuracy = accuracy_score(gnb_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(gnb_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,gnb_predictions)))
print('Recall score: ', format(recall_score(y_test, gnb_predictions)))
print('F1 score: ', format(f1_score(y_test, gnb_predictions)))

Accuracy score:  0.66
Precision score:  0.6610169491525424
Recall score:  0.6062176165803109
F1 score:  0.6324324324324325

In [46]:
# training a DescisionTreeClassifier 
from sklearn.tree import DecisionTreeClassifier 
dtree_model = DecisionTreeClassifier(max_depth = 2)
dtree_model.fit(training_data1, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [47]:
dtree_predictions = dtree_model.predict(testing_data)

In [48]:
from sklearn.metrics import accuracy_score
dtree_accuracy = accuracy_score(dtree_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(dtree_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,dtree_predictions)))
print('Recall score: ', format(recall_score(y_test, dtree_predictions)))
print('F1 score: ', format(f1_score(y_test, dtree_predictions)))

Accuracy score:  0.6725
Precision score:  0.625
Recall score:  0.8031088082901554
F1 score:  0.7029478458049887

In [49]:
from sklearn.linear_model import SGDClassifier

In [50]:
sgd_clf = SGDClassifier()
sgd_clf.fit(training_data, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [51]:
sgdpredicted = sgd_clf.predict(testing_data)

In [52]:
from sklearn.metrics import accuracy_score
sgd_accuracy = accuracy_score(sgdpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(sgdpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,sgdpredicted)))
print('Recall score: ', format(recall_score(y_test, sgdpredicted)))
print('F1 score: ', format(f1_score(y_test, sgdpredicted)))

Accuracy score:  0.8425
Precision score:  0.8532608695652174
Recall score:  0.8134715025906736
F1 score:  0.83289124668435

In [53]:
from sklearn.linear_model import LogisticRegression

In [54]:
lr = LogisticRegression()
lr.fit(training_data, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [55]:
lrpredicted = lr.predict(testing_data)

In [56]:
from sklearn.metrics import accuracy_score
lr_accuracy = accuracy_score(lrpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(lrpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,lrpredicted)))
print('Recall score: ', format(recall_score(y_test, lrpredicted)))
print('F1 score: ', format(f1_score(y_test, lrpredicted)))

Accuracy score:  0.8675
Precision score:  0.8645833333333334
Recall score:  0.8601036269430051
F1 score:  0.8623376623376622

In [57]:
print('Multinomial Naive Bayes:',mnbaccuracy)
print('Gausian Naive Bayes:',gnb_accuracy)
print('Decision tree:',dtree_accuracy)
print('Support Vector Classifier:',svcaccuracy)
print('K-Nearest Neighbour:',knnaccuracy)
print('Stochastic Gradient Descent:',sgd_accuracy)
print('LogisticRegression:',lr_accuracy)

Multinomial Naive Bayes: 0.8875
Gausian Naive Bayes: 0.66
Decision tree: 0.6725
Support Vector Classifier: 0.875
K-Nearest Neighbour: 0.6025
Stochastic Gradient Descent: 0.8425
LogisticRegression: 0.8675