<a href="https://colab.research.google.com/github/SaumyaG2311/Minor-Project/blob/main/Supervised_Models.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [2]:
import re
import string
from nltk.corpus import stopwords
from bs4 import BeautifulSoup
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer

In [4]:
from google.colab import files
data = files.upload()

Saving deceptive-opinion.csv to deceptive-opinion.csv

In [5]:
import io

In [6]:
df = pd.read_csv(io.BytesIO(data['deceptive-opinion.csv']))

In [7]:
df

      deceptive  ...                                               text
0      truthful  ...  We stayed for a one night getaway with family ...
1      truthful  ...  Triple A rate with upgrade to view room was le...
2      truthful  ...  This comes a little late as I'm finally catchi...
3      truthful  ...  The Omni Chicago really delivers on all fronts...
4      truthful  ...  I asked for a high floor away from the elevato...
...         ...  ...                                                ...
1595  deceptive  ...  Problems started when I booked the InterContin...
1596  deceptive  ...  The Amalfi Hotel has a beautiful website and i...
1597  deceptive  ...  The Intercontinental Chicago Magnificent Mile ...
1598  deceptive  ...  The Palmer House Hilton, while it looks good i...
1599  deceptive  ...  As a former Chicagoan, I'm appalled at the Ama...

[1600 rows x 5 columns]

In [8]:
df.head()

  deceptive  ...                                               text
0  truthful  ...  We stayed for a one night getaway with family ...
1  truthful  ...  Triple A rate with upgrade to view room was le...
2  truthful  ...  This comes a little late as I'm finally catchi...
3  truthful  ...  The Omni Chicago really delivers on all fronts...
4  truthful  ...  I asked for a high floor away from the elevato...

[5 rows x 5 columns]

In [9]:
df = df.drop(["hotel", "polarity","source"], axis=1)

In [10]:
df = df.sample(frac=1)

In [11]:
df.head()

     deceptive                                               text
493  deceptive  Stays here while on a business trip in Chicago...
754  deceptive  Recently I traveled to Chicago for business. I...
447  deceptive  The Hyatt Regency Chicago hotel was a delight ...
814   truthful  Our trip was our annual anniversary trip. The ...
87    truthful  I just enjoyed a 3-day weekend at the Swissote...

In [12]:
from sklearn import preprocessing 

# label_encoder object knows how to understand word labels. 
label_encoder = preprocessing.LabelEncoder() 

# Encode labels in column 'species'. 
df['deceptive'] = label_encoder.fit_transform(df['deceptive']) 

df['deceptive'].unique()

array([0, 1])

In [13]:
df.head()

     deceptive                                               text
493          0  Stays here while on a business trip in Chicago...
754          0  Recently I traveled to Chicago for business. I...
447          0  The Hyatt Regency Chicago hotel was a delight ...
814          1  Our trip was our annual anniversary trip. The ...
87           1  I just enjoyed a 3-day weekend at the Swissote...

In [14]:
#dataset description #truthful=1 deceptive=0
df.groupby('deceptive').describe()

           text
          count unique                                                top freq
deceptive
0           800    800  The Talbott Hotel was very classy, professiona...    1
1           800    796  Very disappointed in our stay in Chicago Monoc...    2

In [15]:
def clean_text(text):
    
    ## Remove puncuation
    text = text.translate(string.punctuation)
    
    ## Convert words to lower case and split them
    text = text.lower().split()
    
    ## Remove stop words
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops and len(w) >= 3]
    
    text = " ".join(text)

    # Clean the text
    text = re.sub(r"[^A-Za-z0-9^,!.\/'+-=]", " ", text)
    text = re.sub(r"what's", "what is ", text)
    text = re.sub(r"\'s", " ", text)
    text = re.sub(r"\'ve", " have ", text)
    text = re.sub(r"n't", " not ", text)
    text = re.sub(r"i'm", "i am ", text)
    text = re.sub(r"\'re", " are ", text)
    text = re.sub(r"\'d", " would ", text)
    text = re.sub(r"\'ll", " will ", text)
    text = re.sub(r",", " ", text)
    text = re.sub(r"\.", " ", text)
    text = re.sub(r"!", " ! ", text)
    text = re.sub(r"\/", " ", text)
    text = re.sub(r"\^", " ^ ", text)
    text = re.sub(r"\+", " + ", text)
    text = re.sub(r"\-", " - ", text)
    text = re.sub(r"\=", " = ", text)
    text = re.sub(r"'", " ", text)
    text = re.sub(r"(\d+)(k)", r"\g<1>000", text)
    text = re.sub(r":", " : ", text)
    text = re.sub(r" e g ", " eg ", text)
    text = re.sub(r" b g ", " bg ", text)
    text = re.sub(r" u s ", " american ", text)
    text = re.sub(r"\0s", "0", text)
    text = re.sub(r" 9 11 ", "911", text)
    text = re.sub(r"e - mail", "email", text)
    text = re.sub(r"j k", "jk", text)
    text = re.sub(r"\s{2,}", " ", text)
    
    text = text.split()
    stemmer = SnowballStemmer('english')
    stemmed_words = [stemmer.stem(word) for word in text]
    text = " ".join(stemmed_words)

    return text

In [16]:
# Some preprocesssing that will be common to all the text classification methods

puncts = [',', '.', '"', ':', ')', '(', '-', '!', '?', '|', ';', "'", '$', '&', '/', '[', ']', '>', '%', '=', '#', '*', '+', '\\', '•',  '~', '@', '£', 
 '·', '_', '{', '}', '©', '^', '®', '`',  '<', '→', '°', '€', '™', '›',  '♥', '←', '×', '§', '″', '′', 'Â', '█', '½', 'à', '…', 
 '“', '★', '”', '–', '●', 'â', '►', '−', '¢', '²', '¬', '░', '¶', '↑', '±', '¿', '▾', '═', '¦', '║', '―', '¥', '▓', '—', '‹', '─', 
 '▒', '：', '¼', '⊕', '▼', '▪', '†', '■', '’', '▀', '¨', '▄', '♫', '☆', 'é', '¯', '♦', '¤', '▲', 'è', '¸', '¾', 'Ã', '⋅', '‘', '∞', 
 '∙', '）', '↓', '、', '│', '（', '»', '，', '♪', '╩', '╚', '³', '・', '╦', '╣', '╔', '╗', '▬', '❤', 'ï', 'Ø', '¹', '≤', '‡', '√', ]

def clean_char(x):
    x = str(x)
    for punct in puncts:
        if punct in x:
            x = x.replace(punct, f' {punct} ')
    return x

In [17]:
def clean_numbers(x):
    if bool(re.search(r'\d', x)):
        x = re.sub('[0-9]{5,}', '#####', x)
        x = re.sub('[0-9]{4}', '####', x)
        x = re.sub('[0-9]{3}', '###', x)
        x = re.sub('[0-9]{2}', '##', x)
    return x

In [18]:
df['text'] = df['text'].map(lambda a: clean_numbers(a))

In [19]:
df['text'] = df['text'].map(lambda a: clean_char(a))

In [22]:
df['text'] = df['text'].map(lambda a: clean_text(a))

In [21]:
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [23]:
df['text']

493     stay busi trip chicago first staff friend help...
754     recent travel chicago busi treat stay intercon...
447     hyatt regenc chicago hotel delight stay never ...
814     trip annual anniversari trip hotel honor choic...
87      enjoy day weekend swissotel chicago friend min...
                              ...
1047    gorgeous hotel outsid lobbi howev reach elev t...
96      best servic staff incred never lift finger roo...
786     palmer hous hilton chicago far best experi eve...
1558    agre intercontinent chicago nice hotel outsid ...
874     stay fairmont two saturday row stay disappoint...
Name: text, Length: 1600, dtype: object

In [24]:
df.describe()

         deceptive
count  1600.000000
mean      0.500000
std       0.500156
min       0.000000
25%       0.000000
50%       0.500000
75%       1.000000
max       1.000000

In [25]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1600 entries, 493 to 874
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   deceptive  1600 non-null   int64
 1   text       1600 non-null   object
dtypes: int64(1), object(1)
memory usage: 37.5+ KB

In [26]:
x = df['text']
y = df['deceptive']

In [27]:
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.metrics import accuracy_score, confusion_matrix

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(df['text'], df['deceptive'], random_state=5)
print('Number of rows in the total set: {}'.format(df.shape[0]))
print('Number of rows in the training set: {}'.format(X_train.shape[0]))
print('Number of rows in the test set: {}'.format(X_test.shape[0]))

Number of rows in the total set: 1600
Number of rows in the training set: 1200
Number of rows in the test set: 400

In [29]:
X_train, X_test, y_train, y_test

(1119    stay actual compel write review fall asleep fr...
 175     excel locat block michigan ave two block water...
 1236    stay hyatt regenc experi never ever forget goo...
 937     rude rude rude stay juli 4th weekend drove mic...
 442     spent weekend wife love much sever week ago wo...
                               ...
 1350    recent guest sheraton chicago hotel tower imme...
 2       come littl late final catch review past sever ...
 995     search cool non chain hotel weekend getaway bo...
 866     disappoint hotel staff seem hurri unhelp room ...
 705     fantast stay hotel beauti decor immacul clean ...
 Name: text, Length: 1200, dtype: object,
 498    stay swissotel chicago busi nice staff help ro...
 321    stay two day attend lollopalooza music festiv ...
 420    overal hotel beauti servic great employe frien...
 810    outmod worn furnish combin poor origin design ...
 290    stay hotel monaco husband first trip chicago i...
                              ...
 752    glad decid stay intercontinent chicago first t...
 220    love stay talbott chicago attend theater show ...
 192    hard rock glossi sexi absolut fantast hotel to...
 340    attend confer palmer hous truli surpass expect...
 167    great find downtown chicago price right staff ...
 Name: text, Length: 400, dtype: object,
 1119    1
 175     1
 1236    0
 937     1
 442     0
        ..
 1350    0
 2       1
 995     1
 866     1
 705     0
 Name: deceptive, Length: 1200, dtype: int64,
 498    0
 321    1
 420    0
 810    1
 290    1
       ..
 752    0
 220    1
 192    1
 340    1
 167    1
 Name: deceptive, Length: 400, dtype: int64)

In [30]:
from sklearn.feature_extraction.text import CountVectorizer
count_vector = CountVectorizer()
print(count_vector)

CountVectorizer(analyzer='word', binary=False, decode_error='strict',
                dtype=<class 'numpy.int64'>, encoding='utf-8', input='content',
                lowercase=True, max_df=1.0, max_features=None, min_df=1,
                ngram_range=(1, 1), preprocessor=None, stop_words=None,
                strip_accents=None, token_pattern='(?u)\\b\\w\\w+\\b',
                tokenizer=None, vocabulary=None)

In [31]:
training_data = count_vector.fit_transform(X_train)
testing_data = count_vector.transform(X_test)

In [32]:
from sklearn.naive_bayes import MultinomialNB
naive_bayes = MultinomialNB()
naive_bayes.fit(training_data, y_train)

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [33]:
predictions = naive_bayes.predict(testing_data)

In [34]:
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
mnbaccuracy = accuracy_score(y_test, predictions)
print('Accuracy score: ', format(accuracy_score(y_test, predictions)))
print('Precision score: ', format(precision_score(y_test, predictions)))
print('Recall score: ', format(recall_score(y_test, predictions)))
print('F1 score: ', format(f1_score(y_test, predictions)))

Accuracy score:  0.865
Precision score:  0.9067357512953368
Recall score:  0.8293838862559242
F1 score:  0.8663366336633663

In [35]:
from sklearn.svm import SVC 
svc = SVC()
svc.fit(training_data, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [36]:
svc_predictions = svc.predict(testing_data)

In [37]:
from sklearn.metrics import accuracy_score
svcaccuracy = accuracy_score(y_test,svc_predictions)
print('Accuracy score: ', format(accuracy_score(y_test,svc_predictions)))
print('Precision score: ', format(precision_score(y_test,svc_predictions)))
print('Recall score: ', format(recall_score(y_test, svc_predictions)))
print('F1 score: ', format(f1_score(y_test, svc_predictions)))

Accuracy score:  0.8525
Precision score:  0.8653846153846154
Recall score:  0.8530805687203792
F1 score:  0.8591885441527447

In [38]:
from sklearn.neighbors import KNeighborsClassifier 
knn = KNeighborsClassifier(n_neighbors = 7)
knn.fit(training_data, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=7, p=2,
                     weights='uniform')

In [39]:
knn_predictions = knn.predict(testing_data)

In [40]:
from sklearn.metrics import accuracy_score
knnaccuracy = accuracy_score(knn_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(knn_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,knn_predictions)))
print('Recall score: ', format(recall_score(y_test, knn_predictions)))
print('F1 score: ', format(f1_score(y_test, knn_predictions)))

Accuracy score:  0.565
Precision score:  0.9302325581395349
Recall score:  0.1895734597156398
F1 score:  0.31496062992125984

In [41]:
from sklearn.naive_bayes import GaussianNB 
gnb = GaussianNB()
training_data1 = training_data.toarray()
gnb.fit(training_data1, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [42]:
testing_data1= testing_data.toarray()
gnb_predictions = gnb.predict(testing_data1)

In [43]:
from sklearn.metrics import accuracy_score
gnb_accuracy = accuracy_score(gnb_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(gnb_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,gnb_predictions)))
print('Recall score: ', format(recall_score(y_test, gnb_predictions)))
print('F1 score: ', format(f1_score(y_test, gnb_predictions)))

Accuracy score:  0.66
Precision score:  0.7245508982035929
Recall score:  0.5734597156398105
F1 score:  0.6402116402116402

In [44]:
# training a DescisionTreeClassifier 
from sklearn.tree import DecisionTreeClassifier 
dtree_model = DecisionTreeClassifier(max_depth = 2)
dtree_model.fit(training_data1, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=2, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [45]:
dtree_predictions = dtree_model.predict(testing_data)

In [46]:
from sklearn.metrics import accuracy_score
dtree_accuracy = accuracy_score(dtree_predictions,y_test )
print('Accuracy score: ', format(accuracy_score(dtree_predictions,y_test )))
print('Precision score: ', format(precision_score(y_test,dtree_predictions)))
print('Recall score: ', format(recall_score(y_test, dtree_predictions)))
print('F1 score: ', format(f1_score(y_test, dtree_predictions)))

Accuracy score:  0.6875
Precision score:  0.7559523809523809
Recall score:  0.6018957345971564
F1 score:  0.6701846965699209

In [47]:
from sklearn.linear_model import SGDClassifier

In [48]:
sgd_clf = SGDClassifier()
sgd_clf.fit(training_data, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=None, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [49]:
sgdpredicted = sgd_clf.predict(testing_data)

In [50]:
from sklearn.metrics import accuracy_score
sgd_accuracy = accuracy_score(sgdpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(sgdpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,sgdpredicted)))
print('Recall score: ', format(recall_score(y_test, sgdpredicted)))
print('F1 score: ', format(f1_score(y_test, sgdpredicted)))

Accuracy score:  0.8325
Precision score:  0.839622641509434
Recall score:  0.8436018957345972
F1 score:  0.8416075650118204

In [51]:
from sklearn.linear_model import LogisticRegression

In [52]:
lr = LogisticRegression()
lr.fit(training_data, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [53]:
lrpredicted = lr.predict(testing_data)

In [54]:
from sklearn.metrics import accuracy_score
lr_accuracy = accuracy_score(lrpredicted,y_test )
print('Accuracy score: ', format(accuracy_score(lrpredicted,y_test )))
print('Precision score: ', format(precision_score(y_test,lrpredicted)))
print('Recall score: ', format(recall_score(y_test, lrpredicted)))
print('F1 score: ', format(f1_score(y_test, lrpredicted)))

Accuracy score:  0.8575
Precision score:  0.8701923076923077
Recall score:  0.8578199052132701
F1 score:  0.8639618138424822

In [55]:
print('Multinomial Naive Bayes:',mnbaccuracy)
print('Gausian Naive Bayes:',gnb_accuracy)
print('Decision tree:',dtree_accuracy)
print('Support Vector Classifier:',svcaccuracy)
print('K-Nearest Neighbour:',knnaccuracy)
print('Stochastic Gradient Descent:',sgd_accuracy)
print('LogisticRegression:',lr_accuracy)

Multinomial Naive Bayes: 0.865
Gausian Naive Bayes: 0.66
Decision tree: 0.6875
Support Vector Classifier: 0.8525
K-Nearest Neighbour: 0.565
Stochastic Gradient Descent: 0.8325
LogisticRegression: 0.8575